  
/Ciência de dados/.ipynb_checkpoints
/Ciência de dados/.venv
/Ciência de dados/envi
/Ciência de dados/HashTag Programação/aula_pandas/.ipynb_checkpoints


/QA/cucumber/envi
/QA/test/envi
/QA/test/__pycache__

reiniciar a tela com ctrl + alt + del
ficar precionando o f2 e limpar
desmarcar a opção do Ubuntu